```SELECT * FROM public.user_data;```\
```SELECT * FROM public.post_text_df;```\
```SELECT * FROM public.feed_data limit 1000;```--используем лимит тк данных очень много\
https://lab.karpov.courses/learning/345/module/3330/lesson/29513/83188/389043/

In [1]:
import pandas as pd
from sqlalchemy import create_engine

import os
import numpy as np

con = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
engine = create_engine(con)

In [2]:
df=pd.read_sql("select DATE_TRUNC('day' ,timestamp) as date, count(*) from public.feed_data group by 1 order by 1 desc", engine)

In [3]:
df

         date   count
0  2021-12-29  862493
1  2021-12-28  915778
2  2021-12-27  884290
3  2021-12-26  853352
4  2021-12-25  867018
..        ...     ...
85 2021-10-05  845676
86 2021-10-04  831288
87 2021-10-03  848693
88 2021-10-02  823701
89 2021-10-01  823664

[90 rows x 2 columns]