In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('playstore.csv')

In [3]:
df.head()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
len(df['App'].unique())

9659

In [5]:
df['Rating'].isna().sum()

1474

In [13]:
cols = ['App', 'Size', 'Genres', 'Current Ver']
res = pd.concat([df.loc[:2, cols], df.loc[5:7, cols], df.loc[15:18, cols]])
res.to_csv('module6.csv')

In [113]:
df1 = df.copy()
df1 = df1.drop_duplicates(subset=['App']).reset_index(drop=True)
df1.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)
df1['price'] = df1['price'].str.replace('[^0-9\.]', '').astype('float')
piv = pd.pivot_table(
    df1, 
    values=['price', 'rating', 'reviews'], 
    index=['category', 'type'],
    aggfunc='mean'
)
piv.rename(columns=lambda x: 'mean_'+x, inplace=True)
piv['mean_price'] = piv['mean_price'].round(2)
piv['mean_rating'] = piv['mean_rating'].round(1)
piv['mean_reviews'] = piv['mean_reviews'].round(2)
piv.to_csv('module12.csv')

C:\Users\e.tarasov\AppData\Local\Temp\ipykernel_17020\950288058.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['price'] = df1['price'].str.replace('[^0-9\.]', '').astype('float')

In [114]:
piv

                        mean_price  mean_rating  mean_reviews
category          type
ART_AND_DESIGN    Free        0.00          4.3      23230.11
                  Paid        1.99          4.7        722.00
AUTO_AND_VEHICLES Free        0.00          4.2      14140.28
                  Paid        4.49          4.6       1387.67
BEAUTY            Free        0.00          4.3       7476.23
...                            ...          ...           ...
TRAVEL_AND_LOCAL  Paid        4.16          4.1       1506.08
VIDEO_PLAYERS     Free        0.00          4.0     424347.18
                  Paid        2.62          4.1       3341.75
WEATHER           Free        0.00          4.2     171249.62
                  Paid        4.05          4.4      17055.12

[63 rows x 3 columns]